   <nav style="position: sticky; z-index: 50000; background: white; padding: 15px 0; border-bottom: 4px solid var(--primary-blue);">
      
      <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
             <a style="margin: 0 3.5rem" href="{{ site.baseurl }}/" class="logo">
                <img src="{{ site.baseurl }}/Pics/Logo.png" alt="Affordable Service of Ardmore" style="height: 60px;">
            </a> 
            <ul style="display: flex;  flex-wrap:wrap; justify-content: center; gap: 20px; font-weight: 600;">
                <li><a href="{{ site.baseurl }}/" class="text-blue">Home</a></li>
                <li><a href="{{ site.baseurl }}/services">Services</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                 <li><a href="{{ site.baseurl }}/consignment">Consignment</a></li>
               
            </ul>
           <ul class="btnnav" style="display: flex;  flex-wrap:wrap; justify-content: center; gap: 20px; font-weight: 600;"> <li><a href="tel:5802264716" class="btnnav btn btn-primary" style="padding: 8px 15px;">(580) 226-4716</a></li></ul>
        </div>
    </nav>
